body{
    background-color:#d0d0d0;
    font-family:  Arial, sans-serif;
}


#myMap{
    margin-top:20px;
    margin-bottom:15px;
    width: 95%;
    height: 95%;
}





#card-group{
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
