body{
    background-color:#d0d0d0;
    font-family:  Arial, sans-serif;
}

.page-header{
    margin-top:50px;
}

.chart-title{
    margin-left:20px;
    margin-top:30px;
}
hr{
    margin-left:20px;
    margin-right:20px;
}

#myMap{
    margin-bottom:15px;
}
#gender-age{
    width:450px;
    height:500px;

}




#card-group{
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
